<html>
    <body>
        <table border="1px">
            <tr>
                <td>id</td>
                <td>nome</td>
                <td>descricao</td>
                <td>preco</td>
            </tr>
            <%for(var i=0;i<products.length;i++){%>
                <tr>
                    <td><%=products[i].id%></td>
                    <td><%=products[i].titulo%></td>
                    <td><%=products[i].descricao%></td>
                    <td><%=products[i].preco%></td>
                </tr>
            <%}%>
        </table>
    </body>
</html>